/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
  margin-left: 8cm;
    margin-right: 8cm;
}


h1 {
  color: #333;
  margin-bottom: 10px;
  border-radius: 5cm;
  padding-top: 4cm;
}

header {
    background-color: #1A1A1D;
    color: #F8F8F8;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    border-radius: 13px;
}

p {
  font-size: 18px;
  color: #555;
}


form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
}


label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}


button:hover {
  background-color: #0056b3;
}


#output {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

